# Arquivos temporários gerados pelo Visual Studio
.vs/

# Arquivos binários gerados
/bin/
/obj/

# Arquivos de dependências NuGet
*.dll
*.exe
*.pdb
*.dll.config
*.cache
*.suo
*.user
*.log
*.sqlite

# Arquivos de build
*.log
*.diff
*.patch
*.swp
*.swo
*.sln.docstates

# Arquivos de análise e cobertura de código
*.opendb
*.coverage
*.dotCover
*.sln.DotSettings.user

# Pastas de saída de build do Rider
_output/

# Arquivos de configuração de IDEs específicas
.idea/
*.suo
*.user
*.sln.docstates
*.vspscc
*_i.c
*_p.c
*.pidb
*.svclog
*.scc

# Cache e arquivos temporários
[Dd]ebug/
[Rr]elease/
*.bak
*.cache
*.cloudberry
*.dbmdl
*.dbproj.schemaview
*.jfm
*.msi
*.psess
*.sqlsuo
*.vdproj.build
*.xap
*.xmlp
*.userprefs
*.azureCache
*.mdf
*.ldf
*.tlb
*.o
*.pyc
*.wasm
